{
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "indent": 2,
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "quotes": [2, "double"],
    "linebreak-style": [2, "unix"],
    "semi": [0, "always"]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended"
}
